@import '../../assets/scss/mixin.scss';

.section {
  padding: 40px 0;
  visibility: hidden;
  opacity: 0;
  transform: translateY(100px) scale(0.8);
  // transition: 0.7s;
  // position: relative;
  top: 50px;

  @include Responsive(XS) {
    padding: 30px 0;
  }

  &.animate {
    visibility: visible;
    transform: none;
    opacity: 1;
    transition: transform 1.4s cubic-bezier(0.6, 0.2, 0.1, 1) 0s,
      opacity 1.4s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
  }
}
